$fuente-principal:montserrat;
$fuente-negrita: bold;
$fuente-navlink: Lora;
/* mapeo */
$estilos: (
estilio1: 15px 15px 40px rgba(0, 0, 0, 0.15),
estilo2: #000
);
// Mixins 
@mixin mixin1($fuente, $alto){
    font-size: $fuente;
    line-height: $alto
}